head
  title OMI - Onboarding Management Interface
  <!--Import Google Icon Font-->
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  <!--Import materialize.css-->
  link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/main.css', media='screen,projection')
