doctype html
html
  include includes/head.pug

  body
    include includes/header.pug
    
    // Main Row
    div.row
        
      // Content Col
      div.col.s9.offset-s1
        // Greeting
        div.row
          div.col.s12.offset-s1
            span.hide#user #{user}
            h4#givenName Hallo !
        
        // New Role input row
        div.row.valign-wrapper
          // Role input
          div.input-field.col.s6.offset-s1
            input#roleName(type="text", placeholder="New Role")
          // Add Button
          a.btn-floating.btn-medium.waves-effect.waves-light.btn#addNewRole
              i.material-icons add
        
        // Role List Row
        div.row
          // Role Data Col
          ul.collection.with-header.col.s7.offset-s1#role-list
            li.collection-header 
              h6.center-align Roles
            

    <!--JavaScript at end of body for optimized loading-->
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='js/roles.js')
