doctype html
html
  include includes/head.pug

  body
    include includes/header.pug
    
    // Dropdown for user roles, invisible, populated dynamically with database
    ul.dropdown-content#dropdown_roles
    
    // Main Row
    div.row
        
      // Content Col
      div.col.s10.offset-s1
      
        // Greeting
        div.row.col.s12.offset-s1
          span.hide#user #{user}
          h4#givenName Hallo !
            
        div.row.col.s12
          // Add Button
          div.col.s1.center-align
            a.btn-floating.btn-medium.waves-effect.waves-light.btn#scaleNewUserForm
              i.material-icons add
              
          // User form div
          div.row.col.s8.display-none#userFormDiv
            form.col.s12.scale-transition.scale-out#newUserForm
              div.row
                div.input-field.col.s6
                  input(type="text").validate#first_name
                  label(for="first_name") Vorname
                div.input-field.col.s6
                  input(type="text").validate#last_name
                  label(for="last_name") Nachname
              div.row
                div.input.field.col.s5
                  input(type="text", data-target="dropdown_roles").validate.dropdown-trigger#new_user_role
                  label(for="new_user_role") Role
                div.input.field.col.s4
                  a.btn#add_new_user Add User
                
                
            
        // User List Row
        div.row
          // User Data Col
          ul.collection.with-header.col.s10.offset-s1#user-list
            li.collection-header 
              h6.center-align Users
      
      
    
          

    <!--JavaScript at end of body for optimized loading-->
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='js/users.js')
