html,
body,
.login-box {
  height: 100%;
}

.side-nav a {
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    display: inline-block;
    width: 80%;
}

.side-nav li {
    background-color: rgba(221,221,221,0.25);
    margin-top: 2px;
    border-radius: 16px;
    display: block;
    padding: 0;
}

.side-nav li.active a {
    color: rgba(0,0,0,0.98);
}
.side-nav li:hover, .side-nav li.active {
    background-color: rgba(221,221,221,0.6);
}

ul .material-icons {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  width: 20%;
}


ul li.card {
  margin: 4px 0;
  padding: 15px 0;
}

.delete, .show-user {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.thick, li.collection-header * {
  font-weight: bold;
}

span.secondary-content {
  color: black;
}
