html,
body,
.login-box {
  height: 100%;
}


/* ----------- TOP NAV ----------- */

ul.topnav a.active {
  background-color: #ee6e73;
}

ul.topnav {
  background-color: #26a69a;
  margin: 0;
}

ul.topnav li {
  display: inline-block;
}

ul.topnav li:hover, ul.topnav li.active {
    background-color: rgba(0,0,0,0.1);
}

ul.topnav li a {
  padding: 15px 10px;
  color: white;
  display: block;
}

/* ------ SIDE NAV -------  */

.side-nav a {
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    display: inline-block;
    width: 80%;
}

.side-nav li {
    background-color: rgba(221,221,221,0.25);
    margin-top: 2px;
    border-radius: 16px;
    display: block;
    padding: 0;
}

.side-nav li.active a {
    color: rgba(0,0,0,0.98);
}
.side-nav li:hover, .side-nav li.active {
    background-color: rgba(221,221,221,0.6);
}

ul .material-icons {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  width: 20%;
}


ul li.card {
  margin: 4px 0;
  padding: 15px 0;
}

/* --------- UNDECIDED CATEGORIES---------- */

.delete, .show-user {
  cursor: pointer;
}

span.secondary-content {
  color: black;
}

.ad-user-group:nth-child(odd) {
  background: #dedede;
  border-radius: 4px;
}
.ad-user-group:nth-child(even) {
  background: #fafafa;
  border-radius: 4px;
}


/* ---- Generic attributes ---- */
.inline-block {
  display: inline-block;
}
.display-none {
  display: none;
}
.no-margin {
  margin: 0;
}
.thick, li.collection-header * {
  font-weight: bold;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
